<html>
  <head>
    <title>Education Portal</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- JS, Popper.js, and jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      srmoinkhanna01@gmail.comc="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="/header.css" />
    <link rel="stylesheet" href="/su.css" />
    <link
      rel="stylesheet"
      media="screen and (min-width:420px)"
      href="/mobile.css"
    />

    <div class="preloader">
      <%- include('../../assets/svg/eduon-logo.svg') %>
    </div>
  </head>

  <div class="bg-images">
    <!-- <div class="shade"><%- include('../../assets/svg/main-bg.svg') %></div> -->
    <div class="logo-cont">
      <div class="logo">
        EduOn
      </div>
      <div class="logo-caption">
        join and Learn
      </div>
    </div>
  </div>
  <nav>
    <ul class="nav-links">
      <div class="m-3">
        EduOn
      </div>
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#room">Room</a></li>
      <div>
        <%if(!currentUser){%>
        <a style="color: black;" href="/auth/google">Sign Up/Login with G+</a>
        <%}else{%>
        <a style="color: black;" href="/auth/logout">LogOut</a>
        <%}%>
      </div>
    </ul>
  </nav>

  <div class="log-sign">
    <%if(!currentUser){%>
    <a href="/auth/google">Sign Up/Login with G+</a>
    <%}else{%>
    <i class="material-icons">account_circle</i> <%=currentUser.name%>&nbsp;
    <a href="/auth/logout">LogOut</a>
    <%}%>
  </div>
  <script>
    window.addEventListener('load', () => {
      var preloader = document.querySelector('.preloader');
      setTimeout(() => {
        preloader.classList.add('preload-finish');
      }, 1000);
    });
  </script>
</html>
