<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>EduOn</title>
    <link rel="stylesheet" href="/side-nav.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- JS, Popper.js, and jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="/header.css" />
    <link rel="stylesheet" href="/su.css" />
    <div class="preloader">
      <%- include('../../assets/svg/eduon-logo.svg') %>
    </div>
  </head>
  <body>
    <div class="shade-layer"></div>
    <input type="checkbox" id="check" />
    <header class="side-nav-header">
      <div class="white-text s-n-logo">
        <div>EduOn</div>
        <label for="check">
          <span class="material-icons" id="sidebar_btn">
            menu
          </span>
        </label>
      </div>
      <div class="search-container">
        <i class="fas fa-search white-text"></i>
        <% if(clientType === 'student'){ %>
        <form action="/student/profile/friend" method="GET">
          <input type="email" placeholder="Search Friend" name="email" />
        </form>
        <% } else { %>
        <form action="/teacher/profile" method="GET">
          <input type="email" name="email" placeholder="Search student" />
        </form>
        <% } %>
      </div>
      <div class="right_area">
        <a href="/auth/logout" class="logout_btn">Logout</a>
      </div>
    </header>
    <div class="sidebar">
      <center>
        <i class="material-icons" style="font-size: 40px;">account_circle</i>
        <h5><%=currentUser.name%></h5>
      </center>
      <% if( clientType === 'teacher') { %>
      <div id="teacher-nav"></div>
      <% } else if (clientType === 'admin'){ %>
      <div id="admin-nav"></div>

      <% } else{ %>
      <div id="student-nav"></div>
      <% } %>
    </div>
    <div class="mobile-sidebar">
      <button class="navbar-toggler first-button" type="button">
        <div class="animated-icon1">
          <span></span><span></span><span></span>
        </div>
      </button>
      <div class="mob-sidebar">
        <center style="margin-left: -50px;">
          <i class="material-icons" style="font-size: 40px;">account_circle</i>
          <h5><%=currentUser.name%></h5>
        </center>
        <% if( clientType === 'teacher') { %>
        <div id="teacher-nav"></div>
        <% } else if (clientType === 'admin'){ %>
        <div id="admin-nav"></div>

        <% } else{ %>
        <div id="student-nav"></div>
        <% } %>
        <a href="/auth/logout"
          ><i class="fas fa-sign-out-alt"></i><span>Logout</span></a
        >
      </div>
    </div>
    <script>
      function discussion() {
        var x = document.querySelectorAll('section');
        for (i = 0; i < x.length; i++) {
          if (x[i].className == 'discussion') x[i].style.display = 'block';
          else x[i].style.display = 'none';
        }
      }
      function dashboard() {
        var x = document.querySelectorAll('section');
        for (i = 0; i < x.length; i++) {
          if (x[i].className == 'dashboard') x[i].style.display = 'block';
          else x[i].style.display = 'none';
        }
      }
      function test() {
        var x = document.querySelectorAll('section');
        for (i = 0; i < x.length; i++) {
          if (x[i].className == 'test') x[i].style.display = 'block';
          else x[i].style.display = 'none';
        }
      }
      function addTeacher() {
        var x = document.querySelectorAll('section');
        for (i = 0; i < x.length; i++) {
          if (x[i].className == 'addTeacher') x[i].style.display = 'block';
          else x[i].style.display = 'none';
        }
      }
      function addStudent() {
        var x = document.querySelectorAll('section');
        for (i = 0; i < x.length; i++) {
          if (x[i].className == 'addStudent') x[i].style.display = 'block';
          else x[i].style.display = 'none';
        }
      }
      window.onload = function () {
        dashboard();
      };
      window.addEventListener('load', () => {
        var preloader = document.querySelector('.preloader');
        setTimeout(() => {
          preloader.classList.add('preload-finish');
        });
      });
      var navToggler = document.querySelector('.navbar-toggler');
      var navFlag = 0;
      navToggler.addEventListener('click', () => {
        var mob = document.querySelector('.mob-sidebar');
        if (navFlag === 0) {
          mob.style.transform = 'translateX(0%)';
          var spans = document.querySelectorAll('.navbar-toggler span');
          spans.forEach((span) => {
            span.style.background = '#fff';
          });
          document.querySelector('.shade-layer').style.opacity = '0.7';
          document.querySelector('.shade-layer').style.pointerEvents = 'all';
          navFlag = 1;
        } else {
          mob.style.transform = 'translateX(100%)';
          var spans = document.querySelectorAll('.navbar-toggler span');
          spans.forEach((span) => {
            span.style.background = '#58a193';
          });
          document.querySelector('.shade-layer').style.pointerEvents = 'none';
          document.querySelector('.shade-layer').style.opacity = '0';
          navFlag = 0;
        }
      });
    </script>
    <script>
      $(document).ready(function () {
        $('.first-button').on('click', function () {
          $('.animated-icon1').toggleClass('open');
        });
      });
    </script>
  </body>
</html>
