<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>EduOn</title>
    <link rel="stylesheet" href="/side-nav.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- JS, Popper.js, and jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="/header.css" />
    <link rel="stylesheet" href="/su.css" />
    <link rel="stylesheet" media="screen and (min-width:420px)" href="/mobile.css" />
    <div class="preloader">
      <%- include('../../assets/svg/eduon-logo.svg') %>
    </div>
  </head>
  <body>
    <input type="checkbox" id="check" />
    <header class="side-nav-header">
      <div class="s-n-logo white-text">
        EduOn
        <label for="check">
          <span class="material-icons" id="sidebar_btn">
            menu
          </span>
        </label>
      </div>
      <div class="search-container">
        <i class="fas fa-search white-text"></i>
        <form action="/teacher/profile" method="GET">
          <input type="text" name="email" placeholder="Enter email to search student">
        </form>
      </div>
      <div class="right_area">
        <a href="/auth/logout" class="logout_btn">Logout</a>
      </div>
    </header>
    <div class="sidebar">
      <center>
        <i class="material-icons" style="font-size: 40px;">account_circle</i>
        <h5><%=currentUser.name%></h5>
      </center>
      <a id="dshbrd" href="#" onclick="dashboard(event)"
        ><i class="fas fa-desktop"></i><span>Dashboard</span></a
      >
      <% if( clientType === 'teacher') { %>
      <a href="#" onclick="discussion(event)"
        ><i class="fas fa-th"></i><span>New Discussion</span></a
      >
      <a href="#" onclick="test(event)"
        ><i class="far fa-file-alt"></i><span>New Test</span></a
      >
      <a href="#"><i class="fas fa-info-circle"></i><span>About</span></a>
      <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a>
      <% } else if (clientType = 'admin'){ %>
      <a href="#" onclick="addTeacher(event)"
        ><i class="fas fa-chalkboard-teacher"></i><span>Add Teacher</span></a
      >
      <a href="#" onclick="addStudent(event)"
        ><i class="fas fa-user-graduate"></i><span>Add Student</span></a
      >
      <a href="#"><i class="fas fa-info-circle"></i><span>About</span></a>
      <a href="#"><i class="fas fa-sliders-h"></i><span>Settings</span></a>
      <% } else{ %> <% } %>
    </div>

    <script>
      function discussion(e) {
        e.target.classList.toggle('active');
        var x = document.querySelectorAll('section');
        for (i = 0; i < x.length; i++) {
          if (x[i].className == 'discussion') x[i].style.display = 'block';
          else x[i].style.display = 'none';
        }
      }
      function dashboard(e) {
        e.target.classList.toggle('active');
        var x = document.querySelectorAll('section');
        for (i = 0; i < x.length; i++) {
          if (x[i].className == 'dashboard') x[i].style.display = 'block';
          else x[i].style.display = 'none';
        }
      }
      function test(e) {
        e.target.classList.toggle('active');
        var x = document.querySelectorAll('section');
        for (i = 0; i < x.length; i++) {
          if (x[i].className == 'test') x[i].style.display = 'block';
          else x[i].style.display = 'none';
        }
      }
      function addTeacher(e) {
        e.target.classList.toggle('active');
        var x = document.querySelectorAll('section');
        for (i = 0; i < x.length; i++) {
          if (x[i].className == 'addTeacher') x[i].style.display = 'block';
          else x[i].style.display = 'none';
        }
      }
      function addStudent(e) {
        e.target.classList.toggle('active');
        var x = document.querySelectorAll('section');
        for (i = 0; i < x.length; i++) {
          if (x[i].className == 'addStudent') x[i].style.display = 'block';
          else x[i].style.display = 'none';
        }
      }
      window.onload = function () {
        dashboard();
      };
      window.addEventListener('load', () => {
        var preloader = document.querySelector('.preloader');
        setTimeout(() => {
          preloader.classList.add('preload-finish');
        }, 1000);
      });
      
    </script>
  </body>
</html>
