<%- include('partials/header'); -%>
<body>
    <div class='main-container'>
        <img class="mainBg" src="/images/mainbg.svg" alt="mainBg">
        <div class="container white-text">
            <h1>Welcome</h1>
        </div>
    </div>
    <div class="container"></div>  
</body>

<%- include('partials/footer'); -%>
