<%- include('partials/header'); -%>
<style>
.hr-w{
  width: 60px !important;
}
</style>

<body>
  <div class="main-container">
    <img class="mainBg" src="/images/output-onlinepngtools.png" alt="mainBg" />
    <img class="mainBg-mob" src="/svg/mob-mainbg.png" alt="mainBg-mob" />
  </div>
  <div class="container pt-5">
    <div class="container main-abt mt-5">
      <p class="mt-5">
        <span class="theme-home">EduOn</span> , a three friends initiative , makes online education more
        secure , productive, reduces plagiarism to null and reduces stress on
        children with the help of private counselling sesssions.
      </p>
    </div>
  </div>
  <div class="container mt-5">
  </div>
</body>

<footer class="page-footer font-small mt-5" style="background-color: #3E4551;padding-top: 0px;"> 

    <div style="background-color: #023047;">
      <div class="container">
        <div class="row py-4 d-flex align-items-center">
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Get connected with us on social networks!</h6>
          </div>
          <div class="col-md-6 col-lg-7 text-center text-md-right">
            <a class="fb-ic">
              <i class="fab fa-facebook-f white-text mr-4"> </i>
            </a>
            <a class="tw-ic">
              <i class="fab fa-twitter white-text mr-4"> </i>
            </a>
            <a class="gplus-ic">
              <i class="fab fa-google-plus-g white-text mr-4"> </i>
            </a>
            <a class="li-ic">
              <i class="fab fa-linkedin-in white-text mr-4"> </i>
            </a>
            <a class="ins-ic">
              <i class="fab fa-instagram white-text"> </i>
            </a>
  
          </div>
        </div>
      </div>
    </div>
    <div class="container text-center  mt-5">
    <h6 class="text-uppercase font-weight-bold">Developer Details</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block text-md-left" style="width: 90px;">
    </div>
    <div class="container text-center text-md-left mt-5">
      <div class="row mt-3 dark-grey-text">
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
          <h6 class="text-uppercase font-weight-bold">Lav Joshi</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto hr-w">
          <p>Details.</p>
  
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Ashutosh Yadav</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto hr-w">
          <p>
            <a class="white-text" href="#!">Details</a>
          </p>

  
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">Harshit Gupta</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto hr-w">
          <p>
            <a class="white-text" href="#!">Details</a>
          </p>
  
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto hr-w">
          <p>
            <i class="fas fa-home mr-3"></i>India</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> eduon@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> +91 99XXXXXXX</p>
          <p>
            <i class="fas fa-print mr-3"></i> 086XXXXXXXX</p>
  
        </div>
      </div>
    </div>
  </footer>
  <%- include('partials/footer'); -%>
