<%- include('partials/header'); -%>


<div class="container">
    <div class="jumbotron">
        Welcome <%=currentUser.name%> 
        <h2>Organized by <%=meeting.admin%></h2>
    </div>
</div>


<%- include('partials/footer'); -%>
