@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
nav{
    position: fixed;
    top: 0%;
}
.main-container{
    height: 70vw;
}
.main-container .container{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
}
.mainBg{
    position: absolute;
    width: 100%;
    top: -5px;
    float: right;
    z-index: -1;
}
nav{
    position: fixed !important;
    z-index: 100;
}