.leader-back{
  background-color: #58a19285;
  border-radius: 10px 10px 10px 10px;
  padding-bottom: 5px;
  width: 70%;
}
.leader-header{
  background-color: #58a193;
  width: 100%;
  height: 70px;
  text-align: center;
  color: #fff;
  font-size: 40px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 1rem;
  padding: .3rem;
}
#leaderboard {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 90%;
}
.leader-li {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    height: 70px;
    text-transform: capitalize;
    margin-bottom: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0, 0.1);
    -ms-box-shadow: 0 5px 5px rgba(0,0,0, 0.1);
    box-shadow: 0 5px 5px rgba(0,0,0, 0.1);
}
.list_num {
    float: left;
    line-height: 40px;
    font-size: 22px;
    color: rgba(black, 0.65);
    font-weight: bold;
    padding: 15px;
}
.hname{
    font-size: 22px;
    line-height: 40px;
    color:#707070;
    font-weight: 500;
    margin-top: 15px;
    padding-left: 20px;    
}

@media only screen 
  and (max-device-width: 736px) { 
}