@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.side-nav-header {
  position: fixed;
  background: #e0ece4;
  padding: 20px;
  width: 100%;
  height: 70px;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left_area h3 {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span {
  color: #19b3d3;
}

.logout_btn {
  padding: 10px;
  background: #58a193;
  text-decoration: none;
  float: right;
  margin-top: -20px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.3s;
  transition-property: background;
  position: absolute;
  right: 2%;
}

.logout_btn:hover {
  background: #a60b0b;
  text-decoration: none;
  color: #fff;
}

.sidebar {
  background: #58a193;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
}

.sidebar .profile_image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar i {
  color: #fff;
}
.sidebar h5 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a {
  color: #fff;
  display: block;
  width: 95%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;

}

.sidebar a:hover {
  background: #71afa3;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  text-decoration: none;
  color: #fff;
}

.sidebar i {
  padding-right: 10px;
}

label #sidebar_btn {
  z-index: 1;
  color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  right: 0%;
  cursor: pointer;
  font-size: 35px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover {
  background-color: #71afaf;
}
.s-n-logo {
  position: absolute;
  font-family: 'Quantico', sans-serif;
  width: 250px;
  padding-left: 2rem;
  font-size: 3rem;
  background: #58a193;
  top: 0;
  left: 0;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.4s;
}
.sidebar center {
  opacity: 1;
  transition: 0.5s ease-in-out;
}
#check:checked ~ .sidebar {
  left: -170px;
  transition: 0.5s;
}
#check:checked ~ .side-nav-header .s-n-logo  {
  left: -170px;
  transition: 0.5s;
}
#check:checked ~ .sidebar center {
  opacity: 0;
  display: none;
}
#check:checked ~ .sidebar a span {
  display: none;
}

#check:checked ~ .sidebar a {
  font-size: 20px;
  margin-left: 160px;
  width: 80px;
}

.side-nav-content {
  /* background: #000; */
  margin-left: 250px;
  position: relative;
  top: 70px;
  transition: 0.5s ease;
}

#check:checked ~ .side-nav-content {
  margin-left: 60px;
}

#check {
  display: none;
}
