.aBtns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.svg-SU , #svg-teacher {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  border-bottom-left-radius: 8%;
}
.frm-icn {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: #0e9aa7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.frm-icn i {
  font-size: 50px;
}
input:focus {
  border: none !important;
}
.input-field label {
  font-size: 1.2rem !important;
}
.datepicker-container {
  display: inline-block !important;
  opacity: 1 !important;

}
#svg-teacher {
  position: relative;
  padding: 2rem;
  max-width: 60%;
  height: fit-content;
  left: 50%;
  transform: translateX(-50%);
}
#blueBalls path:nth-child(1){
  animation: fadeballs 1.5s linear alternate infinite;
}#svg-teacher #blueBalls path:nth-child(2){
  animation: fadeballs 1.5s linear alternate infinite .5s;
}
#Outline-ball{
  animation: bounce .5s ease-in alternate infinite;
}
#board-lines path{
  stroke-dasharray: 1000px;
  stroke-dashoffset: 100px;
}
@keyframes bounce{
  from{
    transform: translateY(-3%);
  }
  to{
    transform: translateY(8%);
  }
}
@keyframes fadeballs {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}